# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
data/
docs/
logs/
tools/
output/
extractors/jcr/download/
extractors/jcr/download_all/
extractors/doapi/*.xlsx
extractors/scielo/*xlsx

config.py
sender_config.py

*.csv

