# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
data/
docs/
logs/
tools/
output/
# extractors/
extractors/jcr/download/
extractors/jcr/download_all/
extractors/doajapi/output/
extractors/scielo/output/

config.ini
config.py
sender_config.py

*.csv

geckodriver
geckodriver.log

.ipynb_checkpoints
